@using Notes.Common.Models.Entities;
@model IEnumerable<Note>
@{
    ViewBag.Title = "Notes";
    ViewBag.Description = "Manage notes";
}

@Html.ActionLink("Create New Note", "Create")<br />

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Days Of Week</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int counter = 0; }
        @foreach (var note in Model)
        {
            counter++;
            <tr @(note.IsActive ? "" : "class=danger")>
                <td>@counter</td>
                <td><img src="@note.ImageUrl" alt="@note.Title" height="50" /></td>
                <td>@note.Title</td>
                <td>@note.Description</td>
                <td>@note.DaysOfWeek</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = note.Id })</td>
            </tr>
        }
    </tbody>
</table>

